# Problem

In [ ]:
Table: Queue

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| person_id   | int     |
| person_name | varchar |
| weight      | int     |
| turn        | int     |
+-------------+---------+
person_id is the primary key column for this table.
This table has the information about all people waiting for a bus.
The person_id and turn columns will contain all numbers from 1 to n, where n is the number of rows in the table.
turn determines the order of which the people will board the bus, where turn=1 denotes the first person to board and turn=n denotes the last person to board.
weight is the weight of the person in kilograms.
 

There is a queue of people waiting to board a bus. However, the bus has a weight limit of 1000 kilograms, so there may be some people who cannot board.

Write an SQL query to find the person_name of the last person that can fit on the bus without exceeding the weight limit. The test cases are generated such that the first person does not exceed the weight limit.

The query result format is in the following example.

 

Example 1:

Input: 
Queue table:
+-----------+-------------+--------+------+
| person_id | person_name | weight | turn |
+-----------+-------------+--------+------+
| 5         | Alice       | 250    | 1    |
| 4         | Bob         | 175    | 5    |
| 3         | Alex        | 350    | 2    |
| 6         | John Cena   | 400    | 3    |
| 1         | Winston     | 500    | 6    |
| 2         | Marie       | 200    | 4    |
+-----------+-------------+--------+------+
Output: 
+-------------+
| person_name |
+-------------+
| John Cena   |
+-------------+
Explanation: The folowing table is ordered by the turn for simplicity.
+------+----+-----------+--------+--------------+
| Turn | ID | Name      | Weight | Total Weight |
+------+----+-----------+--------+--------------+
| 1    | 5  | Alice     | 250    | 250          |
| 2    | 3  | Alex      | 350    | 600          |
| 3    | 6  | John Cena | 400    | 1000         | (last person to board)
| 4    | 2  | Marie     | 200    | 1200         | (cannot board)
| 5    | 4  | Bob       | 175    | ___          |
| 6    | 1  | Winston   | 500    | ___          |
+------+----+-----------+--------+--------------+

# Solution - 1  - Using Recursive Method

In [3]:
CREATE TABLE queue (
    person_id INT,
    person_name VARCHAR(50),
    weight INT,
    turn INT
);

INSERT INTO queue (person_id, person_name, weight, turn)
VALUES
    (5, 'Alice', 250, 1),
    (4, 'Bob', 175, 5),
    (3, 'Alex', 350, 2),
    (6, 'John Cena', 400, 3),
    (1, 'Winston', 500, 6),
    (2, 'Marie', 200, 4);
   
# Few points or step that'll help you to understand recursive cte and no-one till now explained it in that much depth anywhere.
# So After experimenting multiple things I came to this conclusion that the most tough part about recursive is to understand the
# how recursive members in recursive statement are defined and from what table and how are tables and resulting are forming in each recursion
# So, keep in mind the alias that we'll assign to the recursive cte will be used in recursive statement inside it and that alias will represent
# the results and conditions of hhe anchor statement. For example: I experimented by changing aliases in recursive statement in below query.
# Like changing the q.person to t1.person OR changing q.turn>1 condition to t1.turn>1 but all these experiments results in the hardcore result 
# from anchor statement as we have decided in the anchor statement what will be the first row or record that we'll start with.
# Again for example t1.person will return the single outcome - record of "Alice" and same goes for t1.turn
# Now the 2nd table that we'll use in recursive statement will be seperated from previous 2 tables (1 of anchor statement and 1 cte itself)
# that 3rd table will be actually responsible for recursion or in laymen terms - for jumping from 1 record to the next record
# for example: q.weight will be responsible for jumping on the next weight and add it to the previous one. Similarly as t1.turn has a definite value = 1
# therefore we need to add 1 in each recursion to keep it up with jumping q.turn
   
with recursive t1 as 
(select q.person_name, q.weight as till_wgt, q.turn 
from queue q where turn=1
union all
select q.person_name, q.weight+t1.till_wgt as till_wgt, t1.turn+1 as turn 
from t1 join queue q on q.turn=t1.turn+1 where q.turn>1)
select person_name from t1 where till_wgt in (select max(till_wgt) from t1 where till_wgt<=1000 limit 1)

SyntaxError: invalid syntax (2406740771.py, line 1)